/* You can add global styles to this file, and also import other style files */
@import 'node_modules/monaco-editor/dev/vs/editor/editor.main.css';
#contenedor{
    background-Color : #f2f2f2;
    border: 1px solid #d0d0d0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

#boton{
    border: none;
}


/* header  */

.encabezado{
    align-items: center;
    justify-content: right;
    display: flex;
    height: 10%;
    border: 1px solid #d0d0d0;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 600;
    
}

.cuenta{
    align-items: center;
    justify-content: right;
    display: flex;
    width: 20%;
}

/* contenedor (barra de proyector, espacio del editor*/
.contenedor{
    font-family: sans-serif;
   display: flex; 
    flex-grow: 1;
    margin-bottom: 20px;
}

.proyectos{
    width: 20%;
    border: 1px solid #d0d0d0;
    margin-right: 5px;
    border-radius: 5px 0px 0px 5px;
    
}
.editor{
    width: 80%;
    border: 1px solid #d0d0d0;
    border-radius: 0px 5px 5px 0px;
    
}

.bi.bi-person-circle{
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    font-size: 40px;
}

.boton-agregar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
}

.bi.bi-plus-square{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -4px;
}


.titulo_proyectos{
    text-align: right;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d0d0d0;
    padding: 8px;
    font-weight: 550;
    align-items: center;
}

.boton-agregar{
    height: 80%;
    justify-content: start;
}



.mi-contenedor {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
.mi-contenedor p {
    color: blue;
  }
#lista{
    width: 20%;
    border: 1px solid #d0d0d0;
    margin-right: 5px;
    border-radius: 5px 0px 0px 5px;

}
.encabezado{
    align-items: center;
    justify-content: right;
    display: flex;
    height: 10%;
    border: 1px solid #d0d0d0;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 600;
    
}

.cuenta{
    align-items: center;
    justify-content: right;
    display: flex;
    width: 20%;
}

/* contenedor (barra de proyector, espacio del editor*/
.contenedor{
    font-family: sans-serif;
   display: flex; 
    flex-grow: 1;
    margin-bottom: 20px;
}

.proyectos{
    width: 100%;
    
    border: 1px solid #d0d0d0;
    margin-right: 5px;
    border-radius: 5px 0px 0px 5px;
    
}
.editor{
    width: 80%;
    border: 1px solid #d0d0d0;
    border-radius: 0px 5px 5px 0px;
    
}

.bi.bi-person-circle{
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    font-size: 40px;
}

.boton-agregar{
    border: none;
    background-color: transparent;
}

.bi.bi-plus-square{
    display: flex;
    align-items: center;
    justify-content: center;

}




.titulo_proyectos{
    text-align: right;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d0d0d0;
    padding: 8px;
    font-weight: 550;
    align-items: center;
}

.boton-agregar{
    height: 80%;
    justify-content: start;
}



.mi-contenedor {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
.mi-contenedor p {
    color: blue;
  }