
@import 'node_modules/monaco-editor/dev/vs/editor/editor.main.css';



html{
    height: 100vh;
}
main,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}



.encabezado{
    align-items: center;
    justify-content: right;
    display: flex;
    height: 10%;
    border: 1px solid #d0d0d0;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 600;
    
}
.contenedor{
    font-family: sans-serif;
   display: flex; 
    flex-grow: 1;
    margin-bottom: 20px;
}
#lista{
    width: 20%;
    border: 1px solid #d0d0d0;
    margin-right: 5px;
    border-radius: 5px 0px 0px 5px;

}
.cuenta{
    align-items: center;
    justify-content: right;
    display: flex;
    width: 20%;
}

.editor{
    width: 80%;
    border: 1px solid #d0d0d0;
    border-radius: 0px 5px 5px 0px;
    
}

.bi.bi-person-circle{
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    font-size: 40px;
}


.proyectos{
    width: 100%;
    border: 1px solid #d0d0d0;
    margin-right: 5px;
    border-radius: 5px 0px 0px 5px;
    border:none;
    
    
}

#cajones-proyectos{
    min-height: 100px; /* Altura mínima para mostrar el contenedor */
    max-height: 500px; /* Altura máxima para mostrar la barra de desplazamiento */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede la altura máxima */
    

}

.hide-scrollbar {
    overflow-y: hidden !important; /* Oculta la barra de desplazamiento */
  }

.boton-agregar{
    border: none;
    background-color: transparent;
}

.bi.bi-plus-square{

}

.titulo_proyectos{
    text-align: right;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d0d0d0;
    padding: 8px;
    font-weight: 550;
    align-items: center;
}



#jojo{
    height: 40px;
}
#contenedor-dinamico{
    background-Color : #f2f2f2;
    border: 1px solid #d0d0d0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

#contenedor-dinamico:hover{
    background-color: red;
}

#boton{
    border: none;
    background-color: transparent;
}


.bi.bi-trash{
    display: flex;
}

.bi.bi-trash:hover {
    transform: scale(1.5); /* Aumentar el tamaño en un 20% */
  }

 